.timetable h2{
    font-size: 25px;
    margin-bottom: 20px;
}
.tip-timetable {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}



svg.ico-info {
    width: 30px;
    height: 30px;
    fill: #555;
    margin-right: 10px;
}

.timetable-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    
}

.day {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-top: 3px solid #e9166aa3;
    position: relative;
}

.list-training {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px;
}

.list-training li {
    width: 33%;
    text-align: center;
}
.line-right{
    border-right: 1px solid #555;
}

.list-training p{
    font-size: 85%;
}

.list-training li p:first-child {
    color: #222;
}

.list-training li a {
    text-decoration: none;
    color: #555;
}

.list-training li a:hover {
    color: #e9166a9e;
}

.title-timetable {
    width: 100%;
    font-size: 110%;
    background-color: #dedede;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.lesson {
    max-width: 800px;
    width: 90%;
    position: absolute;
    top: 66px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: none;
}

.show{
    display: block;
}
.hide{
    display: none;
}

.name-lesson {
    width: 80%;
}

.ico-closed {
    width: 20%;
}

.lesson-content {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    border-top: 5px solid #e9166a9e;
    -webkit-box-shadow: 0px 2px 6px #d4d4d4;
    box-shadow: 0px 2px 6px #d4d4d4;
    border-radius: 5px;
}

.lesson-content h1 {
    font-size: 130%;
}

.lesson-content p {
    margin-top: 20px;
}

svg.closed {
    width: 22px;
    height: 22px;
    fill: #e9166a9e;
}